@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
	font-family: 'Noto Sans';
	src: url("/fonts/static/NotoSans-Regular.ttf");
	font-weight: 400;
  	font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/static/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/static/NotoSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/static/NotoSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/static/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/static/NotoSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@theme {
	--font-noto-sans: 'Noto Sans', 'sans-serif';
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--color-layout: var(--layout);
	--color-layout-foreground: var(--layout-foreground);
	--color-layout-primary: var(--layout-primary);
	--color-layout-primary-foreground: var(--layout-primary-foreground);
	--color-layout-secondary: var(--layout-secondary);
	--color-layout-secondary-foreground: var(--layout-secondary-foreground);
	--color-layout-accent: var(--layout-accent);
	--color-layout-accent-foreground: var(--layout-accent-foreground);
	--color-layout-border: var(--layout-border);
}

:root {
	--radius: 0.625rem;
	--background: oklch(0.2303 0.0083 261.19);

	--foreground: oklch(1 0 226);

	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);

	--popover: oklch(0.2735 0.0123 254.12);
	--popover-foreground: oklch(0.9095 0.0123 254.12);

	--primary: oklch(0.7588 0.149 231.88);
	--primary-foreground: oklch(0.7617 0.1335 241.57);

	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);

	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.8739 0 15.88);

	--accent: oklch(0.2923 0.0083 261.19);
	--accent-foreground: oklch(0.957 0 226);

	--destructive: oklch(0.6706 0.185 15.88);
	--border: oklch(0.3694 0.006 254.12);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);

	/*
	    Layout: Navbar, ProfileSidebar and Sidebar
	*/
	--layout: oklch(0.2303 0.0083 261.19);
	--layout-foreground: oklch(0.7819 0.022 261.325);

	--layout-primary: oklch(0.7463 0.0225 224.87);
	--layout-primary-foreground: oklch(0.8353 0.0115 224.87);

	--layout-secondary: oklch(0.3368 0.0181 264.71);
	--layout-secondary-foreground: oklch(1 0.02 264);

	--layout-accent: oklch(0.7588 0.149 231.88);
	--layout-accent-foreground: oklch(0.7617 0.1335 241.57);

	--layout-border: oklch(0.3044 0.0061 258.35);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);

	--layout: oklch(0.205 0 0);
	--layout-foreground: oklch(0.985 0 0);
	--layout-primary: oklch(0.488 0.243 264.376);
	--layout-primary-foreground: oklch(0.985 0 0);
	--layout-accent: oklch(0.269 0 0);
	--layout-accent-foreground: oklch(0.985 0 0);
	--layout-border: oklch(1 0 0 / 10%);
	--layout-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #4e4c57;
	border-radius: 10px;
	border: 2px solid #282c32;
}

::-webkit-scrollbar-track {
	background: #181a1e;
	border-radius: 10px;
}

::-webkit-scrollbar-button {
	display: none;
}
